# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Models (Stored on HuggingFace instead)
*.joblib
*.pth
*.h5
*.pkl
*.sqlite
*.db

# Data (Whitelist essential CSV)
!data/
!data/preprocessed_load_data.csv

models/
database/

# Node / Frontend
node_modules/
dist/
.vite/
.vscode/

# System
.DS_Store
Thumbs.db
ngrok.exe
ngrok.zip

# Logs
*.log
